* {
    box-sizing: border-box;
}
main {
    margin-top: 15px;
    text-align: center;

}
.display-4 {
    margin-bottom: 10px;
}
.jumbotron {
    padding: 2rem 2rem;
}
.icon-attribute {
    position: absolute;
    bottom: 0;
    font-size: small;
}
.icon-attribute div {
    display: inline-block;
    margin-left: 8px;
}
#iconImage {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron {
    width: 80%;
    margin: 0 auto;
}
.btn {
    margin-top: 15px;
}
#btnTempF,
#btnTempC {
    bottom: 0;
    margin-top: 20px;
}
